# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/drushrc.php
/Drupal7/
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

/.DS_Store

/node_modules

/.vagrant/

.DS_Store
